<!DOCTYPE html>
<html lang="en" ng-app="myweb">
<head>
    <meta charset="UTF-8">
	<title>{% block title %} title {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/headFoot.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/mine.css">
    <script type="text/javascript" src="../../static/js/jquery-3.1.1.min.js"></script>
	{% block addcssjsblock %}{% endblock %}
</head>
<body ng-controller="init">
		{% include 'base/header.html'%}

		{% block content %}content{% endblock %}

		{% include 'base/footer.html'%}
</body>
</html>