<!-- 页脚 -->
<footer class="footer">
	<div class="foot_about clear widthAuto">
			<dl>
				<dt><a>帮助中心</a></dt>
				<dd><a href="#">常见问题</a></dd>
			</dl>
            <dl>
				<dt><a>物流查询</a></dt>
				<dd><a href="#">查询入口</a></dd>
			</dl>
            <dl>
				<dt><a>真伪查询</a></dt>
				<dd><a href="#">查询入口</a></dd>
			</dl>
            <dl>
				<dt><a>网点信息</a></dt>
				<dd><a href="#">门店信息</a></dd>
			</dl>
            <dl>
				<dt><a>关于我们</a></dt>
				<dd><a href="#">了解敢尚</a></dd>
				<dd><a href="#">渠道商入口</a></dd>
			</dl>
            <dl>
				<dt><a>关注敢尚</a></dt>
				<dd><a href="#">官方微信</a></dd>
				<dd><a href="#">敢尚微博</a></dd>
			</dl>
			<section class="foot_zxwm">
				<span>0571-26262690</span>
				<a href="tel:0571-26262690">24小时在线咨询电话<i class="telponsonIcon"></i></a>
			</section>
	</div>
	<p class="widthFill paddingV10 foot_records">©xx.com 杭ICP证110xxx号 杭ICP备10046xxx号 杭州公网安<br>备11010802020134号 杭网文[2014]0059-0009号</p>
</footer>